[submodule "Estore.Core"]
	path = Submodule
	url = https://github.com/revoljucioner/access-manager-core
[submodule "Submodule/access-manager-core"]
	path = Submodule/access-manager-core
	url = https://github.com/revoljucioner/access-manager-core
[submodule "access-manager-core"]
	path = access-manager-core
	url = https://github.com/revoljucioner/access-manager-core
